.cardsContainer {
    display: grid;
    gap: 2rem;
    grid-template-rows: auto 1fr auto;

    padding: 2rem;
}

.cardsSection {
    display: grid;
    grid-template-columns: repeat(5, minmax(10%, 1fr));
    gap: 2rem;
}

.selectSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* .selectSection select::-ms-expand {
    display: none;
} */

.selectSection select {

    /* appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none; */

    border: 0;
    border-radius: 0.5rem;
    outline: 0;
    padding: 0.5rem 0.9rem;

    /* text-align: center; */
}