.searchBarContainer {
    display: flex;
}

.searchContainer {
    height: 2rem;
    border-radius: 2rem 0 0 2rem;
    border: 0;
    padding: 1.2rem;
    outline: 0;

    color: var(--second-color);
    background-color: var(--white-color);
    transition: all 0.3s ease;
}

.searchContainer:focus {
    box-shadow: inset 0 0 0 0.07rem var(--first-color);
}

.buttonContainer {
    border-radius: 0 2rem 2rem 0;
    border: 0;
    padding: 0 1rem;
    color: var(--white-color);
    background-color: var(--first-color);
    transition: all 0.3s ease;
}

.buttonContainer:hover {
    cursor: pointer;
    background-color: var(--red-login-color);
}
