.registerPage {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.backButton {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;

    background-color: var(--white-color);
    fill: var(--third-color);

    width: 3rem;
    height: 3rem;
    margin: 1.5rem;
    padding: 0.6rem;
    border-radius: 3rem;

    transition: all 0.3s ease;
}

.backButton:hover {
    background-color: var(--blue-login-alpha-color);
}